html {
    position: relative;
    min-height: 100%;
  }
  
  body {
      background-color:#262626;
      /* Margin bottom by footer height */
        margin-bottom: 60px;
  }
  
  .submit {
      background-color: #262626;
      color:white;
      border:1px solid #646464;
  }

  .clear {
      clear:both;
  }